html{
    /*background-image: url("img/sunrise.jpg");*/
    /*background-color: #cccccc;*/
}
body{
    height: 100vh;
    width: 100vw;
    color:white;
    font-family: 'Lato', sans-serif;
    background-image: url("../img/sunrise.jpg");
    /*background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);*/
}
.main-content{
    text-align:center;
    display: table-cell;
    vertical-align: middle;
}
.main-container {
    display: table;
    width: 100%;
}
h2,h3,h4,h5{
    margin: 0;
}
.row{
    margin:0;
    height: inherit;
}
.col{
    height: inherit;
    padding: 2px;
}

/*#383838*/

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    whitesmoke !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    whitesmoke !important;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    whitesmoke !important;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    whitesmoke !important;
}

/*Search*/
.search-container{
    position: absolute;
    width:100vw;
    top:55vh;
    text-align: center;
}
.title-container{
    position: absolute;
    top:50vh;
    text-align: center;
    width: 100vw;
    opacity: 0;

}
.title-logo{
    top:41vh;
}
.title{
    text-align: center;
    font-size: 60px;
    font-family: 'Macondo', cursive;
}
.logo{
    position: absolute;
}
#search-bar{
    display: inline;
    text-align: center;
    font-size: 30px;
    padding:45px;
    border-radius: 50px;
    background: rgba(0,0,0,0.1);
    color:white;
    border:none;
    width: 60vw;
}

/*Question*/
.article-view{
    width: 100vw;
}
.secondary-container{
    position: absolute;
    margin-top: 110px;
    text-align: center;
    width: 100vw;
}
.secondary-question{
    display:inline-block;
    border: rgba(0,0,0,0.1) 2px solid;
    font-size: 20px;
    margin: 0 20px;
    padding: 15px;
    border-radius: 5px;
    color: whitesmoke;
    background: rgba(0,0,0,0.1);
    transition: border .5s ease;
}
.secondary-question:hover{
    cursor: pointer;
    border: rgba(0,0,0,0.8) 2px solid;
}

/*.highlight { background-color: rgba(0, 100, 163, 0.6)}*/
.highlight{ background-color: rgba(255, 202, 130,0.5)}

/*Articles*/
.article-view{
    position:absolute;
    top: 200px;
    height: 65vh;
    width: inherit;
}
.article-field{
    height: inherit;
    padding: 5px;
    border-radius: 20px;
    background: rgba(0,0,0,0.1);
}
.col-gap{
    padding:10px;
}

/*Article List*/
.article{
    padding: 20px;
    margin: 10px 0;
    background: rgba(0,0,0,0.1);
    border: rgba(0,0,0,0.1) 2px solid ;
}
.article-list{
    overflow: auto;
}
.article-list-elements{
    margin-bottom: 15px;
}
.article-name{
    font-size: 20px;
}
.article-desc{
    font-size: 13px;
}
.mini-keyword{
    display: inline-block;
    font-size: 15px;
    padding: 5px;
    margin:5px;
    background: rgba(255,255,255,0.1) ;
}
/*.reliability{*/
    /*background: linear-gradient(141deg, rgba(255,0,0,0.5), rgba(255,250,10,0.5), rgba(0,255,0,0.5));*/
    /*height: 10px;*/
/*}*/

/*Article Content*/
.article-content{
    padding: 30px;
    overflow: auto;
}
.article-author{
    font-size: 16px;
}
.article-text{
    font-size: 18px;
}
.intro{
    text-align: center;
    font-size: 40px;
    top:100px;
    color:whitesmoke;
}

/*Toolbar*/
.tb-button{
    font-size: 30px;
    text-align: center;
}
.tb-container{
    min-height:50px;
    min-width: 50px;
    text-align: center;
}
.toolbar-container{
    height: 91%;
    overflow: auto;
}
.toolbar-buttons{
    position: inline-block;
    height: auto;
}
.keywords-selected{
    background: rgba(0,0,0,0.1);
}
.citation-selected{
    background: rgba(255,255,255,0.1);
}
.notes-selected{
    background: rgba(0,255,255,0.1);
}
.toolbar{
    padding: 5px;
    width: 11vw;
}
#bibliography{
    padding: 20px;
}

/*Toolbar Keywords*/
.list-keyword{
    display: inline-block;
    font-size: 15px;
    padding: 10px;
    margin:5px;
    background: rgba(255,255,255,0.1) ;
}


.list-keyword-selected{
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    margin:5px;
    background: rgba(255,255,255,0.1) ;
}
.lkselected{
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    margin:5px;
    background: rgba(255,255,255,0.1) ;
}


.note-pad{
    background: transparent;
    width: 90%;
    height: 90%;
    max-width: 90%;
    max-height: 90%;
    min-width: 90%;
    min-height: 90%;
    color:white;
    font-weight: bold;
}

/*Scrollbar*/

.scrollbar
{
    overflow-y: scroll;
}
.style-1::-webkit-scrollbar-track
{
    opacity:0;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 6px;
    background-color: rgba(245,245,245,.5);
}
.style-1::-webkit-scrollbar-track-piece
{
    background-color: rgba(245,245,245,.3);
}
.style-1::-webkit-scrollbar
{
    width: 8px;
    background-color: #F5F5F5;
}

.style-1::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
#notes{
    width: inherit;
    overflow: auto;
    height:inherit;
}

#notes-panel{
    padding: 15px;
}

/* Loading */
.loading-view{
    position: absolute;
    width: 100vw;
    top:0px;
}
#wait{
    font-size: 150px;
    color:rgba(0,0,0,.3);
}
.reliability {
    margin: 20px;
    width: 400px;
    height: 8px;
}
#pad{
    width: 12vw;
    height:50vh;
    display:relative;
    background-color: inherit;
    border-style: none;
    outline:0;
}