html{
    /*background-image: url("img/sunrise.jpg");*/
    /*background-color: #cccccc;*/
}
body{
    height: 100vh;
    width: 100vw;
    color:white;
    background-image: url("../img/sunrise.jpg");
    /*background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);*/
}
.main-content{
    text-align:center;
    display: table-cell;
    vertical-align: middle;
}
.main-container {
    display: table;
    height: inherit;
    width: inherit;
}
h2,h3,h4,h5{
    margin: 0;
}
.row{
    margin:0;
    height: inherit;
}
.col{
    height: inherit;
    padding: 2px;
}

/*#383838*/

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    whitesmoke !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    whitesmoke !important;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    whitesmoke !important;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    whitesmoke !important;
}

/*Search*/
.search-container{
    position: absolute;
    width:100vw;
    top:55vh;
    text-align: center;
}
.title-container{
    position: absolute;
    top:45vh;
    text-align: center;
    width: 100vw;
    opacity: 0;

}
.title-logo{
    top:35vh;
}
.title{
    text-align: center;
    font-size: 60px;
    font-family: 'Macondo', cursive;
}
.logo{
    position: absolute;
}
#search-bar{
    display: inline;
    text-align: center;
    font-size: 30px;
    padding:45px;
    border-radius: 50px;
    background: rgba(0,0,0,0.1);
    color:white;
    border:none;
    width: 60vw;
}

/*Question*/
.article-view{
    width: 100vw;
}
.secondary-container{
    position: absolute;
    margin-top: 110px;
    text-align: center;
    width: 100vw;
}
.secondary-question{
    display:inline-block;
    border: rgba(0,0,0,0.1) 2px solid;
    font-size: 20px;
    margin: 0 20px;
    padding: 15px;
    border-radius: 5px;
    color: whitesmoke;
    background: rgba(0,0,0,0.1);
    transition: border .5s ease;
}
.secondary-question:hover{
    cursor: pointer;
    border: rgba(0,0,0,0.8) 2px solid;
}

/*Articles*/
.article-view{
    position:absolute;
    top: 200px;
    height: 65vh;
    width: inherit;
}
.article-field{
    height: inherit;
    padding: 20px;
    border-radius: 20px;
    background: rgba(0,0,0,0.1);
}
.col-gap{
    padding:10px;
}

/*Article List*/
.article{
    padding: 20px;
    background: rgba(0,0,0,0.1);
    border: rgba(0,0,0,0.1) 2px solid ;
}
.article-list{
    overflow: auto;
}
.article-list-elements{
    margin-bottom: 15px;
}
.article-name{
    font-size: 25px;
}
.article-desc{
    font-size: 20px;
}
.article-keywords{
    font-size: 18px;
}
.mini-keyword{
    display: inline-block;
    font-size: 18px;
    padding: 10px;
    background: rgba(255,255,255,0.1) ;
}
.reliability{
    background: linear-gradient(141deg, rgba(255,0,0,0.5), rgba(255,250,10,0.5), rgba(0,255,0,0.5));
    height: 10px;
}

/*Article Content*/
.article-content{
    padding: 30px;
}
.article-author{
    font-size: 20px;
}
.article-text{
    height: 80%;
    padding: 5px;
    font-size: 16px;
    overflow: auto;
}

/*Toolbar*/
.tb-button{
    font-size: 30px;
    text-align: center;
}
.tb-container{
    min-height:50px;
    min-width: 50px;
    text-align: center;
}
.toolbar-container{
    height: 90%;
    overflow: auto;
}
.toolbar-buttons{
    position: absolute;
    bottom:30px;
    height: auto;
}
.keywords-selected{
    background: rgba(0,0,0,0.1);
}
.citation-selected{
    background: rgba(255,255,255,0.1);
}
.notes-selected{
    background: rgba(0,255,255,0.1);
}
.toolbar{
    padding: 20px;
}

/*Toolbar Keywords*/
.list-keyword{
    display: inline-block;
    font-size: 18px;
    padding: 10px;
    margin:5px;
    background: rgba(255,255,255,0.1) ;
}
.list-keyword-selected{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    margin:5px;
    background: rgba(255,255,255,0.1) ;
}
.note-pad{
    background: transparent;
    width: 90%;
    height: 90%;
    max-width: 90%;
    max-height: 90%;
    min-width: 90%;
    min-height: 90%;
    color:white;
}