html{
    /*background-image: url("img/sunrise.jpg");*/
    /*background-color: #cccccc;*/
}
body{
    height: 100vh;
    width: 100vw;
    color:white;
    background-image: url("../img/sunrise.jpg");
    /*background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);*/
}
.main-content{
    text-align:center;
    display: table-cell;
    vertical-align: middle;
}
.main-container {
    display: table;
    height: inherit;
    width: inherit;
}
.row{
    margin:0;
    height: inherit;
}

/*#383838*/

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    whitesmoke !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    whitesmoke !important;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    whitesmoke !important;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    whitesmoke !important;
}

/*Search*/
.search-container{
    position: absolute;
    width:100vw;
    top:50vh;
    text-align: center;
}
.title-container{
    position: absolute;
    top:45vh;
    text-align: center;
    width: 100vw;
    opacity: 0;
}
.title{
    text-align: center;
    font-size: 60px;
    font-family: 'Macondo', cursive;
}
#search-bar{
    display: inline;
    text-align: center;
    font-size: 30px;
    padding:45px;
    border-radius: 50px;
    background: rgba(0,0,0,0.1);
    color:white;
    border:none;
    width: 60vw;
}
.div-container{
    opacity: 0.5;
    background: rgba(0,0,0,0.3);
    border-style:solid;
    text-align: center;
    border-radius: 30px;
}
.large-container{
    /*opacity: 0.7;*/
    position: absolute;
    top:27vh;
    height: 70vh;
    width:35vw;
    left: 3vw;
    /*background-color: #96f2b6;
    border-style:solid;
    text-align: center;
    border-radius: 30px;*/
}
.right-container{
    position:absolute;
    top:27vh;
    height: 70vh;
    width:55vw;
    right: 3vw;
}

/*Article*/
.article-div{
    /*border-style: solid;*/
    height: inherit;
}

/*Question*/
.article-view{
    width: 100vw;
}
.secondary-container{
    position: absolute;
    margin-top: 110px;
    overflow: auto;
    text-align: center;
    width: 100vw;
}
.secondary-question{
    display:inline-block;
    font-size: 20px;
    margin: 0 20px;
    padding: 15px;
    border-radius: 50px;
    background: rgba(0,0,0,0.1);
    transition: padding .2s ease;
}
.secondary-question:hover{
    cursor: pointer;
    padding: 17px;
    transition: padding .2s ease;
}
